.entity-manager {
  min-width: 50%;
  margin-inline: auto;
  border: 1px solid gray;
  border-radius: 0.25rem;
  padding: 0.25rem;
}

.entity-manager_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.entity-manager_list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.entity-manager_list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.25rem;
}

.entity-manager_list-item:hover {
  background-color: whitesmoke;
}

.entity-manager_icon {
  color: dimgray;
}

.entity-manager_list-item_info-group {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  flex: 1;
}

.entity-manager_list-item_action-group {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.entity-manager_action-btn:hover {
  background-color: lightgray;
}
